{
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "none",
  "importOrder": [
    "^react",
    "^@?[a-zA-Z-]+[/a-zA-Z]+$",
    "^@/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./].*(.js|.ts|.tsx|.jsx|.json)$",
    "^[./].*\\.(css|less|scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}
